extends ../layouts/matrix_layout.pug

block variables
	- var activePage = 'blank-page'
	- var activeGroup = 'pages'
	// Custom CSS
	link(rel='stylesheet', type='text/css', href='/extra-libs/multicheck/multicheck.css')
	link(href='/libs/datatables.net-bs4/css/dataTables.bootstrap4.css', rel='stylesheet')

block content
	// ==============================================================
	// Container fluid
	// ==============================================================
	.container-fluid
		// ==============================================================
		// Start Page Content
		// ==============================================================
		.row
			.col-lg-4
				.d-flex.no-block.justify-content-center.align-items-center.bg-dark
					.bg-dark.border-top.border-secondary
						div
							form.form-horizontal.m-t-5(action="/register", method='post', onsubmit="return uservalidation()")
								.row.p-b-15
									.col-12
										input(type='hidden', name='_csrf', value=_csrf)
										.input-group.mb-2
											.input-group-prepend
												span#basic-addon1.input-group-text.bg-success.text-white
													i.ti-user
											input#attendance_registeruser_username.form-control.form-control-lg(type='text', placeholder='Username', aria-label='Username', aria-describedby='basic-addon1', name='attendance_registeruser_username', required='', autocomplete="off")
										// email
										.input-group.mb-2
											.input-group-prepend
												span#basic-addon1.input-group-text.bg-danger.text-white
													i.ti-email
											input#attendance_registeruser_phone.form-control.form-control-lg(type='text', placeholder='Phone Number', aria-label='Username', aria-describedby='basic-addon1', name='attendance_registeruser_phone' , required='', autocomplete="off")
										
										.input-group.mb-2
											.input-group-prepend
												span#basic-addon2.input-group-text.bg-info.text-white
													i.fas.fa-hand-pointer
											select#attendance_registeruser_role.select2.form-control.form-control-lg(type='text', name='attendance_registeruser_role', required='', autocomplete="off")
												option(value='') Select Role
												option(value='user') User
												option(value='admin') Admin
								.row.border-top.border-secondary
									.col-12
										.form-group
											.p-t-20
												button.btn.btn-block.btn-lg.btn-info(type='submit') Save User
							
			.col-lg-8
				table.table
					thead
						tr.table-danger
							th(scope='col') Name
							th(scope='col') Phone
							th(scope='col') Role
							th(scope='col') Delete
					tbody
						each user in userlist
							tr
								td(onclick="edituser('"+user.username+"', '"+user.phone+"','"+user.role+"',this)") #{user.username}
								td(onclick="edituser('"+user.username+"', '"+user.phone+"','"+user.role+"',this)") #{user.phone}
								td(onclick="edituser('"+user.username+"', '"+user.phone+"','"+user.role+"',this)") #{user.role}
								td
									button.btn.btn-info.waves-effect.waves-light.save-category(type='submit', name='attendance_user_deleteid', onclick="showConfirm('"+user.id+"')")
										i.fa.fa-trash

	include ../includes/footer.pug
block specific-js
	// this page js
	script(src='/extra-libs/multicheck/datatable-checkbox-init.js')
	script(src='/extra-libs/multicheck/jquery.multicheck.js')
	script(src='/extra-libs/DataTables/datatables.min.js')
	include ../includes/csrf.pug
	script.
		function edituser(name, phone, role, currenttd) {
			$( "td" ).not( currenttd ).parent().css( "background-color", "#ffffff" );
			$(currenttd).parent().css( "background-color", "#f5cfc4" );
			$("#attendance_registeruser_username").val(name);
			$("#attendance_registeruser_phone").val(phone);
			$("#attendance_registeruser_role").val(role);
			
		}
		
		function showchangepasswordmodal() {
			var name = $("#attendance_registeruser_username").val();
			$("#inwardcargo_updatepassword_username").val(name);
			$('#inwardcargo_passwordchangemodal').modal('show');
		}
		
		function showConfirm(userId) {
			swal({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then(function (isConfirm) {
				if (isConfirm.value == true) {
					getCSRFToken(function(_csrf) {
						$.post("/deleteuser", {
							_csrf: _csrf,
							attendance_user_deleteid: userId
						}, function (data) {
							if (data.error) {
								swal({
									title: 'Error!',
									text: data.error,
									imageUrl: '/images/alert_cross.png',
									background: '#ffffff',
									imageWidth: 150,
									imageHeight: 150,
									confirmButtonText: 'OK'
								});
							} else {
								if (data.result)
									location.reload();
							}
						});
					});
				}
			});
		}