extends ../layouts/matrix_layout.pug

block variables
	- var activePage = 'blank-page'
	- var activeGroup = 'pages'
	// Custom CSS
	link(rel='stylesheet', type='text/css', href='/extra-libs/multicheck/multicheck.css')
	link(href='/libs/datatables.net-bs4/css/dataTables.bootstrap4.css', rel='stylesheet')


block content
	// ==============================================================
	// Container fluid
	// ==============================================================
	.container-fluid
		// ==============================================================
		// Start Page Content
		// ==============================================================
		.row
			.col-12
				.card.p-2
					.table-responsive
						table.table#table
							thead.thead-light
								tr
									th(scope='col')
										b Created by
									th(scope='col')
										b Payment Method
									th(scope='col')
										b SKU Number
									th(scope='col')
										b Activate Warranty
									th(scope='col')
										b Name
									th(scope='col')
										b Product
									th(scope='col')
										b Phone Number
									th(scope='col')
										b Address
									th(scope='col')
										b Bill No.
									th(scope='col')
										b Bill Amount
									th(scope='col')
										b Delete
							tbody.customtable
								each customerbill in customerbilllistdetails
									tr
										th(onclick="showModal('"+customerbill.createdby+"','"+customerbill.payment_method+"','"+customerbill.sku_number+"','"+customerbill.activate_warranty+"','"+customerbill.id+"','"+customerbill.name+"','"+customerbill.product+"','"+customerbill.phone_no+"','"+customerbill.address+"','"+customerbill.bill_no+"','"+customerbill.bill_amount+"','"+customerbill.bill_image+"')") #{customerbill.createdby}
										
										th(onclick="showModal('"+customerbill.createdby+"','"+customerbill.payment_method+"','"+customerbill.sku_number+"','"+customerbill.activate_warranty+"','"+customerbill.id+"','"+customerbill.name+"','"+customerbill.product+"','"+customerbill.phone_no+"','"+customerbill.address+"','"+customerbill.bill_no+"','"+customerbill.bill_amount+"','"+customerbill.bill_image+"')") #{customerbill.payment_method}
										
										th(onclick="showModal('"+customerbill.createdby+"','"+customerbill.payment_method+"','"+customerbill.sku_number+"','"+customerbill.activate_warranty+"','"+customerbill.id+"','"+customerbill.name+"','"+customerbill.product+"','"+customerbill.phone_no+"','"+customerbill.address+"','"+customerbill.bill_no+"','"+customerbill.bill_amount+"','"+customerbill.bill_image+"')") #{customerbill.sku_number}
										
										th(onclick="showModal('"+customerbill.createdby+"','"+customerbill.payment_method+"','"+customerbill.sku_number+"','"+customerbill.activate_warranty+"','"+customerbill.id+"','"+customerbill.name+"','"+customerbill.product+"','"+customerbill.phone_no+"','"+customerbill.address+"','"+customerbill.bill_no+"','"+customerbill.bill_amount+"','"+customerbill.bill_image+"')") #{customerbill.activate_warranty}
										
										td(onclick="showModal('"+customerbill.createdby+"','"+customerbill.payment_method+"','"+customerbill.sku_number+"','"+customerbill.activate_warranty+"','"+customerbill.id+"','"+customerbill.name+"','"+customerbill.product+"','"+customerbill.phone_no+"','"+customerbill.address+"','"+customerbill.bill_no+"','"+customerbill.bill_amount+"','"+customerbill.bill_image+"')") #{customerbill.name}
										
										td(onclick="showModal('"+customerbill.createdby+"','"+customerbill.payment_method+"','"+customerbill.sku_number+"','"+customerbill.activate_warranty+"','"+customerbill.id+"','"+customerbill.name+"','"+customerbill.product+"','"+customerbill.phone_no+"','"+customerbill.address+"','"+customerbill.bill_no+"','"+customerbill.bill_amount+"','"+customerbill.bill_image+"')") #{customerbill.product}
										
										td(onclick="showModal('"+customerbill.createdby+"','"+customerbill.payment_method+"','"+customerbill.sku_number+"','"+customerbill.activate_warranty+"','"+customerbill.id+"','"+customerbill.name+"','"+customerbill.product+"','"+customerbill.phone_no+"','"+customerbill.address+"','"+customerbill.bill_no+"','"+customerbill.bill_amount+"','"+customerbill.bill_image+"')") #{customerbill.phone_no}
										
										td(onclick="showModal('"+customerbill.createdby+"','"+customerbill.payment_method+"','"+customerbill.sku_number+"','"+customerbill.activate_warranty+"','"+customerbill.id+"','"+customerbill.name+"','"+customerbill.product+"','"+customerbill.phone_no+"','"+customerbill.address+"','"+customerbill.bill_no+"','"+customerbill.bill_amount+"','"+customerbill.bill_image+"')") #{customerbill.address}
										
										td(onclick="showModal('"+customerbill.createdby+"','"+customerbill.payment_method+"','"+customerbill.sku_number+"','"+customerbill.activate_warranty+"','"+customerbill.id+"','"+customerbill.name+"','"+customerbill.product+"','"+customerbill.phone_no+"','"+customerbill.address+"','"+customerbill.bill_no+"','"+customerbill.bill_amount+"','"+customerbill.bill_image+"')") #{customerbill.bill_no}
										
										td(onclick="showModal('"+customerbill.createdby+"','"+customerbill.payment_method+"','"+customerbill.sku_number+"','"+customerbill.activate_warranty+"','"+customerbill.id+"','"+customerbill.name+"','"+customerbill.product+"','"+customerbill.phone_no+"','"+customerbill.address+"','"+customerbill.bill_no+"','"+customerbill.bill_amount+"','"+customerbill.bill_image+"')") #{customerbill.bill_amount}
										
										td
											//form(action="/deleteairport" method='post', onsubmit="return showConfirm()")
											//button.btn.btn-danger.waves-effect.waves-light.save-category(type='submit', name='inwardcargo_airport_list_delete_airport', value =airport.id)
											button.btn.btn-danger.waves-effect.waves-light.save-category(type='submit', name='customer_bill_list_delete_bill', onclick="showConfirm('"+customerbill.id+"')")
												i.fa.fa-trash
		// Modal Add Category
		#customer_bill_list_show_bill_model.modal.fade.none-border
			.modal-dialog
				.modal-content
						//form#inwardcargo-airport-list-add-new-city-form(action="/airportlist" method='post', onsubmit="return showFakeLoader('customer_bill_list_show_bill_model')")
						.modal-header
							h4.modal-title
								i.mdi.mdi-airplane#customer_bill_list_show_bill_model-title
								|
							button.close(type='button', onclick='hideModal()') ×
						.modal-body
							.row
								#created_by_input_block.col-md-6
									label.control-label Created by
									input#created_by_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#payment_method_input_block.col-md-6
									label.control-label Payment Method
									input#payment_method_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#sku_no_input_block.col-md-6
									label.control-label SKU Number
									input#sku_no_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#activate_warranty_input_block.col-md-6
									label.control-label Activate Warranty
									input#activate_warranty_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#name_input_block.col-md-6
									label.control-label Name
									input#name_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#product_input_block.col-md-6
									label.control-label Product
									input#product_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#phone_no_input_block.col-md-6
									label.control-label Phone_no
									input#phone_no_input.form-control.form-white(autocomplete="off" required='' disabled='')
								#address_input_block.col-md-6
									label.control-label Address
									input#address_input.form-control.form-white(autocomplete="off" required='' disabled='')
								#bill_no_input_block.col-md-6
									label.control-label Bill Number
									input#bill_no_input.form-control.form-white(autocomplete="off" required='' disabled='')
								#bill_amount_input_block.col-md-6
									label.control-label Bill Amount
									input#bill_amount_input.form-control.form-white(autocomplete="off" required='' disabled='')
								#bill_image_input_block.col-md-6
									label.control-label Bill Image
									.card(style="width: 18rem;")
										img.card-img-center#billimage(src="",style="height:300px;width:100%" alt="bill image")
						.modal-footer
							button#attendance_customerbill_id.btn.btn-danger.waves-effect.waves-light.save-category(type='button', name='attendance_customerbill_id', onclick='saveAirPort()')
								i.fa.fa-edit(aria-hidden='true')
								| &nbsp&nbspSave
							button.btn.btn-secondary.waves-effect(type='button', onclick='hideModal()')
								i.fa.fa-times-circle(aria-hidden='true')
								| &nbsp&nbspClose
				// END MODAL
				// ==============================================================
				// End PAge Content
				// ==============================================================
				// ==============================================================
				// Right sidebar
				// ==============================================================
				// .right-sidebar
				// ==============================================================
				// End Right sidebar
				// ==============================================================
		// ==============================================================
		// End Container fluid
		// ==============================================================
	include ../includes/footer.pug
block specific-js
	// this page js
	script(src='/extra-libs/multicheck/datatable-checkbox-init.js')
	script(src='/extra-libs/multicheck/jquery.multicheck.js')
	script(src='/extra-libs/DataTables/datatables.min.js')
	include ../includes/csrf.pug
	script.
		$('#zero_config').DataTable();
		$(document).ready(function() {
			$('#table').DataTable({
			"pagingType": "full_numbers",
			//"info":false
			//"searching": false
			});
		});
		$('#menu_Customer_Bill').addClass("selected");
		function showModal(createdby,payment_method,sku_number,activate_warranty,id, name, product, phone_no,address,bill_no,bill_amount,bill_image) {
			if ((name)&&(product)&&(phone_no)&&(address)&&(bill_no)&&(bill_amount)&&(bill_image)) {
				$('#created_by_input').val(createdby);
				$('#payment_method_input').val(payment_method);
				$('#sku_no_input').val(sku_number);
				$('#activate_warranty_input').val(activate_warranty);
				$('#name_input').val(name);				
				$('#product_input').val(product);
				$('#phone_no_input').val(phone_no);
				$('#address_input').val(address);
				$('#bill_no_input').val(bill_no);
				$('#bill_amount_input').val(bill_amount);
				$("#billimage").attr("src",bill_image);
				$('#attendance_customerbill_id').val(id);
				$('#customer_bill_list_show_bill_model-title').text(' Customer Bill Details');
			} else {
				$('#name_input').val('');
				$('#product_input').val('');
				$('#phone_no_input').val('');
				$('#address_input').val('');
				$('#bill_no_input').val('');
				$('#bill_amount_input').val('');
				$('#attendance_customerbill_id').val('');
				$('#customer_bill_list_show_bill_model-title').text(' Add New Customer Bill Details');
			}
			$('#customer_bill_list_show_bill_model').modal('show');
		}

		function showConfirm(billId) {
			swal({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then(function (isConfirm) {
				if (isConfirm.value == true) {
					getCSRFToken(function(_csrf) {
						$.post("/deleteairport", {
							_csrf: _csrf,
							customer_bill_list_delete_bill: billId
						}, function (data) {
							if (data.error) {
								swal({
									title: 'Error!',
									text: data.error,
									imageUrl: '/images/alert_cross.png',
									background: '#ffffff',
									imageWidth: 150,
									imageHeight: 150,
									confirmButtonText: 'OK'
								});
							} else {
								if (data.result)
									location.href = '/customerbilllist';
							}
						});
					});
				}
			});
		}

		//- function saveAirPort() {
		//- 	var iatacode = $('#inwardcargo_airport_list_iata_code_input').val();
		//- 	var cityname = $('#inwardcargo_airport_list_city_name_input').val();
		//- 	var isinward = ($('#inwardcargo_airport_list_is_inward_destination').prop("checked")==true)?true:false;
		//- 	var id = $("#attendance_customerbill_id").val();
		//- 	var isIataCodeNum = /^\d+$/.test(iatacode);
		//- 	var isCityNameNum = /^\d+$/.test(cityname);
		//- 	$( ".invalid-city" ).remove();
		//- 	$( ".invalid-iata" ).remove();
		//- 	if(iatacode == '' || iatacode == null || iatacode == undefined) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).after( "<div class='invalid-feedback invalid-iata'>IATA Code cannot be blank</div>");
		//- 		$( ".invalid-city" ).remove();
		//- 	} else if(cityname == '' || cityname == null || cityname == undefined) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).after( "<div class='invalid-feedback invalid-city'>City Name cannot be blank</div>" );
		//- 		$( ".invalid-iata" ).remove();
		//- 	} else if(isIataCodeNum) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).after( "<div class='invalid-feedback invalid-iata'>IATA Code cannot be Number</div>");
		//- 		$( ".invalid-city" ).remove();
		//- 	} else if(isCityNameNum) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).after( "<div class='invalid-feedback invalid-city'>City Name cannot be Number</div>" );
		//- 		$( ".invalid-iata" ).remove();
		//- 	} else {
		//- 		$('#attendance_customerbill_id').attr('disabled','disabled');
		//- 		$( ".invalid-iata" ).remove();
		//- 		$( ".invalid-city" ).remove();
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 		getCSRFToken(function(_csrf) {
		//- 			$.post("airportlist", {
		//- 				_csrf: _csrf,
		//- 				inwardcargo_airport_list_iata_code_input: iatacode, inwardcargo_airport_list_city_name_input: cityname, inwardcargo_airport_list_is_inward_destination: isinward, attendance_customerbill_id: id},function (data) {
		//- 					if(data.error_code) {
		//- 						$('#attendance_customerbill_id').removeAttr("disabled");
		//- 					}
		//- 				if (data.error_code == 'ERR_AL_IATA_BLANK'){
		//- 					$( "#inwardcargo_airport_list_iata_code_input" ).addClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_iata_code_input" ).after( "<div class='invalid-feedback invalid-iata'>"+data.error+"</div>");
		//- 					$( ".invalid-city" ).remove();
		//- 				} else if (data.error_code == 'ERR_AL_CITY_BLANK') {
		//- 					$( "#inwardcargo_airport_list_city_name_input" ).addClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_city_name_input" ).after( "<div class='invalid-feedback invalid-city'>"+data.error+"</div>" );
		//- 					$( ".invalid-iata" ).remove();
		//- 				} else if (data.value) {
		//- 					toast({
		//- 						type: 'success',
		//- 						title: 'Airport added successfully'
		//- 					})
		//- 					showFakeLoader('customer_bill_list_show_bill_model','/airportlist')
		//- 				} else if (data.error_code == 'ERR_AL_E_UNIQUE'){
		//- 					toast({
		//- 						type: 'error',
		//- 						title: data.error
		//- 					})
		//- 				}
		//- 			});
		//- 		});
		//- 	}	
		//- }
		
		function hideModal() {
			$('#customer_bill_list_show_bill_model').modal('hide');
		}
