extends ../layouts/matrix_layout.pug

block variables
	- var activePage = 'blank-page'
	- var activeGroup = 'pages'
	// Custom CSS
	link(rel='stylesheet', type='text/css', href='/extra-libs/multicheck/multicheck.css')
	link(href='/libs/datatables.net-bs4/css/dataTables.bootstrap4.css', rel='stylesheet')


block content
	// ==============================================================
	// Container fluid
	// ==============================================================
	.container-fluid
		// ==============================================================
		// Start Page Content
		// ==============================================================
		.row
			.col-12
				.card.p-2
					.table-responsive
						table.table#table
							thead.thead-light
								tr
									th(scope='col')
										b Created by
									th(scope='col')
										b Payment Method
									th(scope='col')
										b SKU Number
									th(scope='col')
										b Activate Warranty
									th(scope='col')
										b Name
									th(scope='col')
										b Product
									th(scope='col')
										b Phone Number
									th(scope='col')
										b Address
									th(scope='col')
										b Bill No.
									th(scope='col')
										b Bill Amount
									th(scope='col')
										b Delete
							tbody.customtable
								each userenquiry in userenquirylistdetails
									tr
										th(onclick="showModal('"+userenquiry.name+"','"+userenquiry.email+"','"+userenquiry.phone+"','"+userenquiry.id+"','"+userenquiry.sku_number+"','"+userenquiry.not_purchase_reason+"','"+userenquiry.product+"')") #{userenquiry.name}
										
										th(onclick="showModal('"+userenquiry.name+"','"+userenquiry.email+"','"+userenquiry.phone+"','"+userenquiry.id+"','"+userenquiry.sku_number+"','"+userenquiry.not_purchase_reason+"','"+userenquiry.product+"')") #{userenquiry.email}
										
										th(onclick="showModal('"+userenquiry.name+"','"+userenquiry.email+"','"+userenquiry.phone+"','"+userenquiry.id+"','"+userenquiry.sku_number+"','"+userenquiry.not_purchase_reason+"','"+userenquiry.product+"')") #{userenquiry.phone}
										
										th(onclick="showModal('"+userenquiry.name+"','"+userenquiry.email+"','"+userenquiry.phone+"','"+userenquiry.id+"','"+userenquiry.sku_number+"','"+userenquiry.not_purchase_reason+"','"+userenquiry.product+"')") #{userenquiry.sku_number}
										
										th(onclick="showModal('"+userenquiry.name+"','"+userenquiry.email+"','"+userenquiry.phone+"','"+userenquiry.id+"',,'"+userenquiry.sku_number+"''"+userenquiry.not_purchase_reason+"','"+userenquiry.product+"')") #{userenquiry.not_purchase_reason}
										
										th(onclick="showModal('"+userenquiry.name+"','"+userenquiry.email+"','"+userenquiry.phone+"','"+userenquiry.id+"',,'"+userenquiry.sku_number+"''"+userenquiry.not_purchase_reason+"','"+userenquiry.product+"')") #{userenquiry.product}
										
										td
											//form(action="/deleteairport" method='post', onsubmit="return showConfirm()")
											//button.btn.btn-danger.waves-effect.waves-light.save-category(type='submit', name='inwardcargo_airport_list_delete_airport', value =airport.id)
											button.btn.btn-danger.waves-effect.waves-light.save-category(type='submit', name='customer_bill_list_delete_bill', onclick="showConfirm('"+userenquiry.id+"')")
												i.fa.fa-trash
		// Modal Add Category
		#customer_enquiry_show_model.modal.fade.none-border
			.modal-dialog
				.modal-content
						//form#inwardcargo-airport-list-add-new-city-form(action="/airportlist" method='post', onsubmit="return showFakeLoader('customer_enquiry_show_model')")
						.modal-header
							h4.modal-title
								i.mdi.mdi-airplane#customer_enquiry_show_model-title
								|
							button.close(type='button', onclick='hideModal()') ×
						.modal-body
							.row
								#name_input_block.col-md-6
									label.control-label Name
									input#name_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#email_input_block.col-md-6
									label.control-label Email
									input#email_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#phone_input_block.col-md-6
									label.control-label Phone
									input#phone_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#sku_number_input_block.col-md-6
									label.control-label SKU Number
									input#sku_number_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#reason_input_block.col-md-6
									label.control-label Reason
									input#name_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#product_input_block.col-md-6
									label.control-label Product
									input#product_input.form-control.form-white( autocomplete="off" required='' disabled='')
								
						.modal-footer
							button.btn.btn-secondary.waves-effect(type='button', onclick='hideModal()')
								i.fa.fa-times-circle(aria-hidden='true')
								| &nbsp&nbspClose
				// END MODAL
				// ==============================================================
				// End PAge Content
				// ==============================================================
				// ==============================================================
				// Right sidebar
				// ==============================================================
				// .right-sidebar
				// ==============================================================
				// End Right sidebar
				// ==============================================================
		// ==============================================================
		// End Container fluid
		// ==============================================================
	include ../includes/footer.pug
block specific-js
	// this page js
	script(src='/extra-libs/multicheck/datatable-checkbox-init.js')
	script(src='/extra-libs/multicheck/jquery.multicheck.js')
	script(src='/extra-libs/DataTables/datatables.min.js')
	include ../includes/csrf.pug
	script.
		$('#zero_config').DataTable();
		$(document).ready(function() {
			$('#table').DataTable({
			"pagingType": "full_numbers",
			//"info":false
			//"searching": false
			});
		});
		$('#menu_user_enquiry').addClass("selected");
		function showModal(name,email,phone,id, sku_no, reason, product) {
			if ((name)&&(email)&&(phone)&&(sku_no)&&(reason)&&(product)) {
				$('#name_input').val(name);
				$('#email_input').val(email);
				$('#phone_input').val(phone);
				$('#sku_number_input').val(sku_no);
				$('#reason_input').val(reason);				
				$('#product_input').val(product);
				$('#userenquiry_id').val(id);
				$('#customer_enquiry_show_model-title').text(' Enquiry Details');
			} else {
				$('#name_input').val('');
				$('#product_input').val('');
				$('#phone_no_input').val('');
				$('#address_input').val('');
				$('#bill_no_input').val('');
				$('#bill_amount_input').val('');
				$('#userenquiry_id').val('');
				$('#customer_enquiry_show_model-title').text(' Add New Customer Bill Details');
			}
			$('#customer_enquiry_show_model').modal('show');
		}

		function showConfirm(enquiryId) {
			swal({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then(function (isConfirm) {
				if (isConfirm.value == true) {
					getCSRFToken(function(_csrf) {
						$.post("/deleteenquiry", {
							_csrf: _csrf,
							customer_bill_list_delete_bill: billId
						}, function (data) {
							if (data.error) {
								swal({
									title: 'Error!',
									text: data.error,
									imageUrl: '/images/alert_cross.png',
									background: '#ffffff',
									imageWidth: 150,
									imageHeight: 150,
									confirmButtonText: 'OK'
								});
							} else {
								if (data.result)
									location.href = '/getenquirylist';
							}
						});
					});
				}
			});
		}

		//- function saveAirPort() {
		//- 	var iatacode = $('#inwardcargo_airport_list_iata_code_input').val();
		//- 	var cityname = $('#inwardcargo_airport_list_city_name_input').val();
		//- 	var isinward = ($('#inwardcargo_airport_list_is_inward_destination').prop("checked")==true)?true:false;
		//- 	var id = $("#userenquiry_id").val();
		//- 	var isIataCodeNum = /^\d+$/.test(iatacode);
		//- 	var isCityNameNum = /^\d+$/.test(cityname);
		//- 	$( ".invalid-city" ).remove();
		//- 	$( ".invalid-iata" ).remove();
		//- 	if(iatacode == '' || iatacode == null || iatacode == undefined) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).after( "<div class='invalid-feedback invalid-iata'>IATA Code cannot be blank</div>");
		//- 		$( ".invalid-city" ).remove();
		//- 	} else if(cityname == '' || cityname == null || cityname == undefined) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).after( "<div class='invalid-feedback invalid-city'>City Name cannot be blank</div>" );
		//- 		$( ".invalid-iata" ).remove();
		//- 	} else if(isIataCodeNum) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).after( "<div class='invalid-feedback invalid-iata'>IATA Code cannot be Number</div>");
		//- 		$( ".invalid-city" ).remove();
		//- 	} else if(isCityNameNum) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).after( "<div class='invalid-feedback invalid-city'>City Name cannot be Number</div>" );
		//- 		$( ".invalid-iata" ).remove();
		//- 	} else {
		//- 		$('#userenquiry_id').attr('disabled','disabled');
		//- 		$( ".invalid-iata" ).remove();
		//- 		$( ".invalid-city" ).remove();
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 		getCSRFToken(function(_csrf) {
		//- 			$.post("airportlist", {
		//- 				_csrf: _csrf,
		//- 				inwardcargo_airport_list_iata_code_input: iatacode, inwardcargo_airport_list_city_name_input: cityname, inwardcargo_airport_list_is_inward_destination: isinward, userenquiry_id: id},function (data) {
		//- 					if(data.error_code) {
		//- 						$('#userenquiry_id').removeAttr("disabled");
		//- 					}
		//- 				if (data.error_code == 'ERR_AL_IATA_BLANK'){
		//- 					$( "#inwardcargo_airport_list_iata_code_input" ).addClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_iata_code_input" ).after( "<div class='invalid-feedback invalid-iata'>"+data.error+"</div>");
		//- 					$( ".invalid-city" ).remove();
		//- 				} else if (data.error_code == 'ERR_AL_CITY_BLANK') {
		//- 					$( "#inwardcargo_airport_list_city_name_input" ).addClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_city_name_input" ).after( "<div class='invalid-feedback invalid-city'>"+data.error+"</div>" );
		//- 					$( ".invalid-iata" ).remove();
		//- 				} else if (data.value) {
		//- 					toast({
		//- 						type: 'success',
		//- 						title: 'Airport added successfully'
		//- 					})
		//- 					showFakeLoader('customer_enquiry_show_model','/airportlist')
		//- 				} else if (data.error_code == 'ERR_AL_E_UNIQUE'){
		//- 					toast({
		//- 						type: 'error',
		//- 						title: data.error
		//- 					})
		//- 				}
		//- 			});
		//- 		});
		//- 	}	
		//- }
		
		function hideModal() {
			$('#customer_enquiry_show_model').modal('hide');
		}
