extends ../layouts/matrix_layout.pug

block variables
	- var activePage = 'blank-page'
	- var activeGroup = 'pages'
	// Custom CSS
	link(rel='stylesheet', type='text/css', href='/extra-libs/multicheck/multicheck.css')
	link(href='/libs/datatables.net-bs4/css/dataTables.bootstrap4.css', rel='stylesheet')


block content
	// ==============================================================
	// Container fluid
	// ==============================================================
	.container-fluid
		// ==============================================================
		// Start Page Content
		// ==============================================================
		.row
			//form.container(action="/reasons" method='get')
			label.control-label.col-lg-1 Division
			select#Div_input.select2.form-control.custom-select.col-lg-3(style='width: 100%; height:36px;', placeholder='Select Division', type='text', name='Div_input', autocomplete="off")
				each div, index in sails.config.custom.div
					option(value=div) #{div}	
			label#City_labelA.control-label.col-lg-1 City
			select#City_inputA.select2.form-control.custom-select.col-lg-3(style='width: 100%; height:36px;', placeholder='Select City', type='text', name='City_input1', autocomplete="off")
				each city, index in sails.config.custom.city_A
					option(value=city) #{city}
			
			label#City_labelB.control-label.col-lg-1 City
			select#City_inputB.select2.form-control.custom-select.col-lg-3(style='width: 100%; height:36px;', placeholder='Select City', type='text', name='City_input2', autocomplete="off")
				each city, index in sails.config.custom.city_B
					option(value=city) #{city}
			
			label#City_labelC.control-label.col-lg-1 City
			select#City_inputC.select2.form-control.custom-select.col-lg-3(style='width: 100%; height:36px;', placeholder='Select City', type='text', name='City_input3', autocomplete="off")
				each city, index in sails.config.custom.city_C
					option(value=city) #{city}

			
	include ../includes/footer.pug
block specific-js
	// this page js
	//script(src='/extra-libs/multicheck/datatable-checkbox-init.js')
	//script(src='/extra-libs/multicheck/jquery.multicheck.js')
	//script(src='/extra-libs/DataTables/datatables.min.js')
	include ../includes/csrf.pug
	script.
		$('#menu_store_location').addClass("selected");
		$('#zero_config').DataTable();
		$(function() {
			$("#City_labelA").show();
		    $("#City_inputA").show();
			$("#City_labelB").hide();
			$("#City_labelC").hide();
		    $("#City_inputB").hide();
			$("#City_inputC").hide();
			
			$("#Div_input").change(function() {
			var option = $( "#Div_input").val();
			
				if(option == "A"){
					$("#City_labelA").show();
		            $("#City_inputA").show();
		            $("#City_labelB").hide();
					$("#City_labelC").hide();
				    $("#City_inputB").hide();
					$("#City_inputC").hide();
				}else if(option == "B"){
					$("#City_labelA").hide();
		            $("#City_inputA").hide();
		            $("#City_labelB").show();
				    $("#City_inputB").show();
				    $("#City_labelC").hide();
					$("#City_inputC").hide();
				}else if(option == "C"){
					$("#City_labelA").hide();
		            $("#City_inputA").hide();
		            $("#City_labelB").hide();
		            $("#City_inputB").hide();
					$("#City_labelC").show();
					$("#City_inputC").show();
				}
			})
			});
			
		//}
		//- function showModal(id, reasontype, reason, reasonvisible) {
		//- 	if ((id) && (reasontype) && (reason)) {
		//- 		$('#inwardcargo_reason_list_reason_type_input_modal').val(reasontype);
		//- 		$('#inwardcargo_reason_list_reason_input').val(reason);
		//- 		$('#inwardcargo_reason_list_id').val(id);
		//- 		if (reasonvisible == 'true') {
		//- 			$("#inwardcargo_reason_list_make_it_visible").prop("checked", true);
		//- 		} else {
		//- 			$("#inwardcargo_reason_list_make_it_visible").prop("checked", false);
		//- 		}
		//- 		$('#inwardcargo-reason-list-add-new-reason-modal-title').text(' Edit Reason');
		//- 	} else {
		//- 		$('#inwardcargo_reason_list_reason_input').val('');
		//- 		$('#inwardcargo_reason_list_id').val('');
		//- 		$("#inwardcargo_reason_list_make_it_visible").prop("checked", false);
		//- 		$('#inwardcargo-reason-list-add-new-reason-modal-title').text(' Add Reason');
		//- 	}
		//- 	$('#inwardcargo-reason-list-add-new-reason-modal').modal('show');
		//- }

		//- function showConfirm(reasonId) {
		//- 	swal({
		//- 		title: 'Are you sure?',
		//- 		text: "You won't be able to revert this!",
		//- 		type: 'warning',
		//- 		showCancelButton: true,
		//- 		confirmButtonColor: '#3085d6',
		//- 		cancelButtonColor: '#d33',
		//- 		confirmButtonText: 'Yes, delete it!'
		//- 	}).then(function (isConfirm) {
		//- 		if (isConfirm.value == true) {
		//- 			getCSRFToken(function(_csrf) {
		//- 				$.post("/deletereason", {_csrf: _csrf, inwardcargo_reason_list_delete_reason: reasonId}, function (data) {
		//- 					if (data.error) {
		//- 						swal({
		//- 							title: 'Error!',
		//- 							text: data.error,
		//- 							imageUrl: '/images/alert_cross.png',
		//- 							background: '#ffffff',
		//- 							imageWidth: 150,
		//- 							imageHeight: 150,
		//- 							confirmButtonText: 'OK'
		//- 						});
		//- 					} else {
		//- 						if (data.result)
		//- 							location.href = '/reasons';
		//- 					}
		//- 				});
		//- 			});
		//- 		}
		//- 	});
		//- }

		//- //- $(document).ready(function () {
		//- //- 	$("#inwardcargo_reason_list_reason_type_input").change(function () {
		//- //- 		var reason = $("#inwardcargo_reason_list_reason_type_input option:selected").val();
		//- //- 		//console.log(reason);
		//- //- 		getReasons(reason);
		//- //- 		//alert();
		//- //- 		//alert($("select[name='inwardcargo_reason_list_reason_type_input'] option:selected").index());
		//- //- 	});
		//- //- 	//getReasons($("#inwardcargo_reason_list_reason_type_input option:selected").val())
		//- //- });

		//- function getReasons(reason) {
		//- 	location.href = '/reasons?inwardcargo_reason_list_reason_type_input='+reason;
		//- }

		//- function saveReason() {
		//- 	var reasontype = $('#inwardcargo_reason_list_reason_type_input_modal').val();
		//- 	var reason = $('#inwardcargo_reason_list_reason_input').val();
		//- 	var reasonvisible = ($('#inwardcargo_reason_list_make_it_visible').prop("checked")==true)?true:false;
		//- 	var id = $("#inwardcargo_reason_list_id").val();
		//- 	$( ".invalid-reason" ).remove();
		//- 	$( ".invalid-reasontype" ).remove();
		//- 	if(reasontype == '' || reasontype == null || reasontype == undefined) {
		//- 		$("#inwardcargo_reason_list_reason_type_input_modal").addClass('is-invalid');
		//- 		$( "#inwardcargo_reason_list_reason_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_reason_list_reason_type_input_modal" ).after( "<div class='invalid-feedback invalid-reasontype'>Reason Type cannot be blank</div>");
		//- 		$( ".invalid-reason" ).remove();
		//- 	} else if(reason == '' || reason == null || reason == undefined) {
		//- 		$("#inwardcargo_reason_list_reason_input").addClass('is-invalid');
		//- 		$( "#inwardcargo_reason_list_reason_type_input_modal" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_reason_list_reason_input" ).after( "<div class='invalid-feedback invalid-reason'>Reason cannot be blank</div>" );
		//- 		$( ".invalid-reasontype" ).remove();
		//- 	} else {
		//- 		$('#inwardcargo_reason_list_id').attr('disabled','disabled');
		//- 		$( ".invalid-reason" ).remove();
		//- 		$( ".invalid-reasontype" ).remove();
		//- 		$( "#inwardcargo_reason_list_reason_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_reason_list_reason_type_input_modal" ).removeClass('is-invalid');
		//- 		getCSRFToken(function(_csrf) {
		//- 			$.post("reasons", {
		//- 				_csrf: _csrf,
		//- 				inwardcargo_reason_list_reason_type_input_modal: reasontype,
		//- 				inwardcargo_reason_list_reason_input: reason,
		//- 				inwardcargo_reason_list_make_it_visible: reasonvisible,
		//- 				inwardcargo_reason_list_id: id
		//- 			}, function (data) {
		//- 				if(data.error_code) {
		//- 					$('#inwardcargo_reason_list_id').removeAttr("disabled");
		//- 				}
		//- 				if (data.error_code == 'ERR_R_REASONTYPE_BLANK') {
		//- 					$("#inwardcargo_reason_list_reason_type_input_modal").addClass('is-invalid');
		//- 					$( "#inwardcargo_reason_list_reason_input" ).removeClass('is-invalid');
		//- 					$( "#inwardcargo_reason_list_reason_type_input_modal" ).after( "<div class='invalid-feedback invalid-reasontype'>"+data.error+"</div>");
		//- 					$( ".invalid-reason" ).remove();
		//- 				} else if (data.error_code == 'ERR_R_REASON_BLANK') {
		//- 					$("#inwardcargo_reason_list_reason_input").addClass('is-invalid');
		//- 					$( "#inwardcargo_reason_list_reason_type_input_modal" ).removeClass('is-invalid');
		//- 					$( "#inwardcargo_reason_list_reason_input" ).after( "<div class='invalid-feedback invalid-reason'>"+data.error+"</div>" );
		//- 					$( ".invalid-reasontype" ).remove();
		//- 				} else if (data.value) {
		//- 					toast({
		//- 						type: 'success',
		//- 						title: 'Reason added successfully'
		//- 					})
		//- 					showFakeLoader('inwardcargo-reason-list-add-new-reason-modal', data.value)
		//- 				}
		//- 			});
		//- 		});
		//- 	}
		//- }
		
		
		//- function hideModal() {
		//- 	$( ".invalid-reason" ).remove();
		//- 	$( ".invalid-reasontype" ).remove();
		//- 	$( "#inwardcargo_reason_list_reason_input" ).removeClass('is-invalid');
		//- 	$( "#inwardcargo_reason_list_reason_type_input_modal" ).removeClass('is-invalid');
		//- 	$('#inwardcargo-reason-list-add-new-reason-modal').modal('hide');
		//- }
