extends ../layouts/matrix_layout.pug

block variables
	- var activePage = 'blank-page'
	- var activeGroup = 'pages'
	// Custom CSS
	link(rel='stylesheet', type='text/css', href='/extra-libs/multicheck/multicheck.css')
	link(href='/libs/datatables.net-bs4/css/dataTables.bootstrap4.css', rel='stylesheet')
block content
	// ==============================================================
	// Container fluid
	// ==============================================================
	.container-fluid
		// ==============================================================
		// Start Page Content
		// ==============================================================
		.row
			.col-12
				.card.p-2
					.table-responsive
						table.table#table.mt-5
							thead.thead-light
								tr.pt-0
									th(scope='col')
										b Name
									th(scope='col')
										b Phone
									th(scope='col')
										b Timestamp
									th(scope='col')
										b latitude
									th(scope='col')
										b longititude
									th(scope='col')
										b Delete
							tbody.customtable
								each userattendance in userattendancelistdetails
									tr
										th(onclick="showModal('"+userattendance.id+"', '"+userattendance.name+"','"+userattendance.phone_no+"','"+userattendance.timestamp+"','"+userattendance.latitude+"','"+userattendance.longitude+"','"+userattendance.user_image+"')") #{userattendance.name}
										
										td(onclick="showModal('"+userattendance.id+"', '"+userattendance.name+"','"+userattendance.phone_no+"','"+userattendance.timestamp+"','"+userattendance.latitude+"','"+userattendance.longitude+"','"+userattendance.user_image+"')") #{userattendance.phone_no}
										
										td(onclick="showModal('"+userattendance.id+"', '"+userattendance.name+"','"+userattendance.phone_no+"','"+userattendance.timestamp+"','"+userattendance.latitude+"','"+userattendance.longitude+"','"+userattendance.user_image+"')") #{userattendance.timestamp}
										
										td(onclick="showModal('"+userattendance.id+"', '"+userattendance.name+"','"+userattendance.phone_no+"','"+userattendance.timestamp+"','"+userattendance.latitude+"','"+userattendance.longitude+"','"+userattendance.user_image+"')") #{userattendance.latitude}
										
										td(onclick="showModal('"+userattendance.id+"', '"+userattendance.name+"','"+userattendance.phone_no+"','"+userattendance.timestamp+"','"+userattendance.latitude+"','"+userattendance.longitude+"','"+userattendance.user_image+"')") #{userattendance.longitude}
										
										td
											//form(action="/deleteairport" method='post', onsubmit="return showConfirm()")
											//button.btn.btn-danger.waves-effect.waves-light.save-category(type='submit', name='inwardcargo_airport_list_delete_airport', value =airport.id)
											button.btn.btn-danger.waves-effect.waves-light.save-category(type='submit', name='user_list_delete_user', onclick="showConfirm('"+userattendance.id+"')")
												i.fa.fa-trash   
									
		// Modal Add Category
		#user_attendance_list_show_model.modal.fade.none-border
			.modal-dialog
				.modal-content
						//form#inwardcargo-airport-list-add-new-city-form(action="/airportlist" method='post', onsubmit="return showFakeLoader('user_attendance_list_show_model')")
						.modal-header
							h4.modal-title
								i.mdi.mdi-airplane#user_attendance_list_show_model-title
								|
							button.close(type='button', onclick='hideModal()') ×
						.modal-body
							.row
								#name_input_block.col-md-6
									label.control-label Name
									input#name_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#phone_input_block.col-md-6
									label.control-label Product
									input#phone_input.form-control.form-white( autocomplete="off" required='' disabled='')
								#timestamp_input_block.col-md-6
									label.control-label timestamp
									input#timestamp_input.form-control.form-white(autocomplete="off" required='' disabled='')
								#latitued_input_block.col-md-6
									label.control-label Address
									input#latitued_input.form-control.form-white(autocomplete="off" required='' disabled='')
								#longitude_input_block.col-md-6
									label.control-label Bill Number
									input#longitude_input.form-control.form-white(autocomplete="off" required='' disabled='')
								.col-md-6
								#user_image_input_block.col-md-6
									label.control-label Bill Image
									.card(style="width: 18rem;")
										img.card-img-center#userimage(src="",style="height:300px;width:100%" alt="bill image")
						.modal-footer
							button.btn.btn-secondary.waves-effect(type='button', onclick='hideModal()')
								i.fa.fa-times-circle(aria-hidden='true')
								| &nbsp&nbspClose
				// END MODAL
				// ==============================================================
				// End PAge Content
				// ==============================================================
				// ==============================================================
				// Right sidebar
				// ==============================================================
				// .right-sidebar
				// ==============================================================
				// End Right sidebar
				// ==============================================================
		// ==============================================================
		// End Container fluid
		// ==============================================================
	include ../includes/footer.pug
block specific-js
	// this page js
	script(src='/extra-libs/multicheck/datatable-checkbox-init.js')
	script(src='/extra-libs/multicheck/jquery.multicheck.js')
	script(src='/extra-libs/DataTables/datatables.min.js')
	include ../includes/csrf.pug
	script.
		$('#zero_config').DataTable();
		$(document).ready(function() {
			$('#table').DataTable({
			"pagingType": "full_numbers",
			//"info":false
			//"searching": false
			});
		});
		$('#menu_user_attendance').addClass("selected");
		function showModal(id, name, phone, timestamp,latitude,longitude,user_image) {
			if ((name)&&(phone)&&(timestamp)&&(latitude)&&(longitude)) {
				$('#name_input').val(name);
				$('#phone_input').val(phone);
				$('#timestamp_input').val(timestamp);
				$('#latitued_input').val(latitude);
				$('#longitude_input').val(longitude);
				//$('#bill_amount_input').val(bill_amount);
				$("#userimage").attr("src",user_image);
				$('#attendance_userattendance_id').val(id);
				$('#user_attendance_list_show_model-title').text(' User Attendance Details');
			} else {
				$('#name_input').val('');
				$('#phone_input').val('');
				$('#timestamp_input').val('');
				$('#latitued_input').val('');
				$('#longitude_input').val('');
				//$('#bill_amount_input').val('');
				$('#attendance_userattendance_id').val('');
				$('#user_attendance_list_show_model-title').text(' Add New Customer Bill Details');
			}
			$('#user_attendance_list_show_model').modal('show');
		}

		function showConfirm(userId) {
			swal({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then(function (isConfirm) {
				if (isConfirm.value == true) {
					getCSRFToken(function(_csrf) {
						$.post("/deleteairport", {
							_csrf: _csrf,
							user_attendance_list_delete_attendance: userId
						}, function (data) {
							if (data.error) {
								swal({
									title: 'Error!',
									text: data.error,
									imageUrl: '/images/alert_cross.png',
									background: '#ffffff',
									imageWidth: 150,
									imageHeight: 150,
									confirmButtonText: 'OK'
								});
							} else {
								if (data.result)
									location.href = '/userattendancelist';
							}
						});
					});
				}
			});
		}

		//- function saveAirPort() {
		//- 	var iatacode = $('#inwardcargo_airport_list_iata_code_input').val();
		//- 	var cityname = $('#inwardcargo_airport_list_city_name_input').val();
		//- 	var isinward = ($('#inwardcargo_airport_list_is_inward_destination').prop("checked")==true)?true:false;
		//- 	var id = $("#attendance_userattendance_id").val();
		//- 	var isIataCodeNum = /^\d+$/.test(iatacode);
		//- 	var isCityNameNum = /^\d+$/.test(cityname);
		//- 	$( ".invalid-city" ).remove();
		//- 	$( ".invalid-iata" ).remove();
		//- 	if(iatacode == '' || iatacode == null || iatacode == undefined) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).after( "<div class='invalid-feedback invalid-iata'>IATA Code cannot be blank</div>");
		//- 		$( ".invalid-city" ).remove();
		//- 	} else if(cityname == '' || cityname == null || cityname == undefined) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).after( "<div class='invalid-feedback invalid-city'>City Name cannot be blank</div>" );
		//- 		$( ".invalid-iata" ).remove();
		//- 	} else if(isIataCodeNum) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).after( "<div class='invalid-feedback invalid-iata'>IATA Code cannot be Number</div>");
		//- 		$( ".invalid-city" ).remove();
		//- 	} else if(isCityNameNum) {
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).addClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).after( "<div class='invalid-feedback invalid-city'>City Name cannot be Number</div>" );
		//- 		$( ".invalid-iata" ).remove();
		//- 	} else {
		//- 		$('#attendance_userattendance_id').attr('disabled','disabled');
		//- 		$( ".invalid-iata" ).remove();
		//- 		$( ".invalid-city" ).remove();
		//- 		$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 		$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 		getCSRFToken(function(_csrf) {
		//- 			$.post("airportlist", {
		//- 				_csrf: _csrf,
		//- 				inwardcargo_airport_list_iata_code_input: iatacode, inwardcargo_airport_list_city_name_input: cityname, inwardcargo_airport_list_is_inward_destination: isinward, attendance_userattendance_id: id},function (data) {
		//- 					if(data.error_code) {
		//- 						$('#attendance_userattendance_id').removeAttr("disabled");
		//- 					}
		//- 				if (data.error_code == 'ERR_AL_IATA_BLANK'){
		//- 					$( "#inwardcargo_airport_list_iata_code_input" ).addClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_city_name_input" ).removeClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_iata_code_input" ).after( "<div class='invalid-feedback invalid-iata'>"+data.error+"</div>");
		//- 					$( ".invalid-city" ).remove();
		//- 				} else if (data.error_code == 'ERR_AL_CITY_BLANK') {
		//- 					$( "#inwardcargo_airport_list_city_name_input" ).addClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_iata_code_input" ).removeClass('is-invalid');
		//- 					$( "#inwardcargo_airport_list_city_name_input" ).after( "<div class='invalid-feedback invalid-city'>"+data.error+"</div>" );
		//- 					$( ".invalid-iata" ).remove();
		//- 				} else if (data.value) {
		//- 					toast({
		//- 						type: 'success',
		//- 						title: 'Airport added successfully'
		//- 					})
		//- 					showFakeLoader('user_attendance_list_show_model','/airportlist')
		//- 				} else if (data.error_code == 'ERR_AL_E_UNIQUE'){
		//- 					toast({
		//- 						type: 'error',
		//- 						title: data.error
		//- 					})
		//- 				}
		//- 			});
		//- 		});
		//- 	}	
		//- }
		
		function hideModal() {
			$('#user_attendance_list_show_model').modal('hide');
		}
